<nav class="navbar navbar-dark bg-danger">
    <a class="navbar-brand">
      <img src="./../../../assets/Images/pokedex.png" width="30" height="30" class="d-inline-block align-top" alt="">
      PokeDex
    </a>
</nav>


<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img class="pokeballLogo" src="./../../../assets/Images/pokeball.svg" alt="pokeball">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <app-pesquisa></app-pesquisa>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <app-display></app-display>
        </div>
    </div>
</div>
